

/*******************************************************************************
min-width: 994px
*******************************************************************************/
@media (min-width: 994px){
  .gallery {
    margin: 0;
    padding: 0;
    list-style: none; /*removes bullet points from li*/
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0; /*padding in the top without removing top margin*/
    width: 100%;
    border-color: transparent;
    border-radius: 50%;
    box-shadow: none;
    padding-top:3%;
    padding-bottom:7%;
    padding-left: 1px;
    padding-right:1px;
  }

  .coding-projects{
    background: transparent;
  }
  .wordpress-projects{
    background: transparent;

  }
  .logos-projects{
    margin:2px;
    background: transparent;
  }


  .jumbotron-projects{
    background-color: #f0eef0;
    margin-top:1%;
    margin-bottom: 10%;
    height: 100%;
    width:100%;
    padding-top:2%;
    padding-bottom:7%;
    padding-left: 1px;
    padding-right:1px;
  }

  .gallery li{
    display: inline-block;
    width: 84%; /*width of li containers will be 45% */
    margin: 10% 8% 1% 8%;
  }


  #box1{
    width: 35.9%;
    background-color: #da0057;
    border-radius: 40px;
    float: left;
  }

  #box2{
    width: 34.9%;
    background-color: #7bda4f;
    border-radius: 40px;
    margin-left: 1px;
    margin-right: 1px;
    float: left;
  }

  #box3{
    width: 27.9%;
    background-color: #0069c2;
    border-radius: 40px;
    margin-left: 1px;
    float: left;
  }

  #box3 li{
    width: 50%; /*width of li containers will be 45% */
    margin: 10% 23% 1% 23%;
  }

}

/*******************************************************************************
min-width: 994px
*******************************************************************************/
@media (min-width: 720px){
  .logos-projects li{
    width: 24%;
    margin:4.5%;
  }


}
