

/*******************************************************************************
min-width: 994px
*******************************************************************************/
@media (min-width: 994px){
  .gallery {
    float: left;
    border-color: transparent;
    box-shadow: none;
    margin: 0;
    padding-top:3%;
    padding-left: 1%;
    padding-right:1%;
  }

  .coding-projects{
    background: transparent;
  }
  .wordpress-projects{
    background: transparent;

  }
  .logos-projects{
    background: transparent;
  }

  .gallery li{
    display: inline-block;
    margin: 5% 8% 1% 8%;
    box-shadow: 1px 1px 1px 1px #505050;
    padding: 5% 1%;
    border-radius: 2%;
    background: white;
    cursor: pointer;
    height: auto;

  }
  #box3 li{
    width: 60%; /* logos li containers will be 45% */
    margin: 7% 15%;
  }

  #box1{
    width: 35%;
    border-radius: 40px;
    float: left;
  }

  #box2{
    width: 35%;
    border-radius: 40px;
    margin-left: 1px;
    margin-right: 1px;
    float: left;
  }

  #box3{
    width: 28%;
    border-radius: 40px;
    float: left;
  }

}

/*******************************************************************************
min-width: 720px
*******************************************************************************/
@media (min-width: 720px){
  .logos-projects li{
    width: 24%;
    margin:4.5%;
  }


}
