body{
  background: gray;
  margin: 0;
  padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f2038;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
}

nav li {
    margin-left: 3%;
    float: left;
}

nav li a {
    font-size: 18px;
    display: block;
    color: #e6bd2e;
    text-align: center;
    padding: 14px 16px;
    margin: auto 30px;
    text-decoration: none;
}

nav li a:hover{
  color: #47a9aa;
}

.active {
  color: #47a9aa;
}

.logo{
  width: 70%;
}

.social {
  border-radius: 50%;
  width: 65%;
  margin-top: 1%;
  cursor: pointer;
}


.social:hover{
  opacity: .6;
}

.about-section{
  padding: 150px;
  background-color: #f7f7f7;
  background-image: -webkit-linear-gradient(140deg, #f7f7f7 45%, #2c3c4d 46%);
  min-height: 500px;
}

.about-info {
  width: 40%;
  color: white;
}

.about-info h1{
  font-size: 3.5em;
  font-weight:lighter;
}

.bold-h1{
  font-weight: bold;
}

.about-info p {
  font-size: 1.1em;
}


.button {
  width: 30%;
  text-align: center;
  padding: 10px;
  border-radius: 2%;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 5px 5px 5px #0f2038;
  float: left;
}

.yellow {
  border: 2px solid #e6bd2e;
}
.yellow-text {
  color:#e6bd2e;
  text-decoration: none;
}


.aqua{
  color: #47a9aa;
  border: 2px solid #47a9aa;
}
.aqua-text {
  color:#47a9aa;
  text-decoration: none;
}
.yellow:hover, .aqua:hover{
  opacity: .7;
  cursor: pointer;
  font-size: 17px;
}

.phone-showcase {
  position: absolute;
  width: 28%;
  top: 15%;
  right: 1%;
  z-index: 2;
}
