.banner {
  height: 650px;
  font-family: sans-serif;
  color: #f0eef0;
}

.banner-yuri-photo {
  width: 220px;
  margin-top: 125px;
  border-radius: 50%;
  border: 10px solid white;
}

.fly-in-text li {
  display: inline-block;
  margin-right: 20px;
  font-family: "Open Sans", "Arial";
  font-size: 7em;
  color: #f0eef0;
  opacity: 1;
  margin-top: 100px;
}


.portfolio-section {
  margin-top: 150px;
}

.infocard {
  width: 100%;
  height: calc(400/16*8px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;

}


.thumbnail {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 6%;
  padding: 0px;
  height: 370px;
}

.caption {
  padding: 2%;
}