@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

body {
  position: absolute;
  height: 100%;
  width: 100%

}

h1 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-size: 55px;
  color: Black;
}

h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: #8B132A;
  font-weight: bold;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-weight: bold;
}

p {
  margin-left: 445px;

}

.thumbnail-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 100%;
  box-shadow: 40px 43px 96px -30px rgba(0, 0, 0, 0.75);
}

.thumbnail-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#sidebar-wrapper{
  z-index: 1;
  position: absolute;
  width: 0;
  height: auto;
  overflow-y: hidden;
  background: #f116db;
  boder: 2px solid red;
}

#page-content-wrapper{
  width: 100%;
  position: absolute;
  padding: 15px;
  border: 5px solid green;
}

/*change the width of the sidebar  to display it*/
.menuDisplayed #sidebar-wrapper{
  width:250px;
}

.menuDisplayed #sidebar-wrapper{
  padding-left: 250px;
}

/*sidebar styling*/
.sidebar-nav{
  padding: 0;
  list-style: none;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #136100;

}

.sidebar-nav li a:hover{
  background: #f30056;
}
.col-sm-3{
  width: 40%;
  height: 100%;
}

.navbar-default{
  height: 100%;
  background-color: #ffffff;
}

#container {
  width: 1100px;

}

#container #left {
  width: 350px;
  float: left;
  height: auto;
  padding: 10px;

}

#container #right {
  width: 650px;
  float: right;
  background-image: -webkit-linear-gradient(#ffffff,  #999999);

}

.Skills, .Awards-and-Certificates, .Languages {
  font-size: 17px;
}
