@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    overflow-x: hidden;

}

h1{
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 33spx;
}

h3{
  text-align: center;
}


.mainJumbotron{
  background-image:url('http://i.imgur.com/SELECdh.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f0eef0;
  min-height:697;
  widht:auto;
  margin-top:-30px;
  margin-bottom: 0px;
  padding:0;
}

.info{
  text-align: center;
  padding-top: 200px;
  margin: 10px 90% 10px 0;
  font-size: 5rem;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: black;
}

.jumbotron-projects{
  background-color: #f0eef0;
  height: 1200px;
  margin-top:-3px;
  margin-bottom: -30px;
  width:100%;
  padding-top:20px;
  padding-bottom:0px;
  padding-left: 1px;
  padding-right:1px;
}

#box1{
  height: 100%;
  width: 33.9%;
  background-color: #da0057;
  border-radius: 40px;
  float: left;
}

#box2{
  height: 100%;
  width: 32.9%;
  background-color: #7bda4f;
  border-radius: 40px;
  margin-left: 1px;
  margin-right: 1px;
  float: left;
}

#box3{
  height: 100%;
  width: 32.9%;
  background-color: #0069c2;
  border-radius: 40px;
  float: left;
}

.jumbotron-timeline{
  background-color: #f0eef0;
  height: 100%;
  margin-top:100px;
  margin-bottom: 0px;
  width:100%;
  padding:0;
}

.jumbotron-timeline h1 {
  padding-bottom: 0px;
}



.thumbnail-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
  border-radius: 100%;
  box-shadow: 40px 43px 96px -30px rgba(0, 0, 0, 0.75);
}



.content {
    padding-top: 0px;
    height: auto;
    text-align: center;
    transition: transform 0.4s ease;
    background-color: #f0eef0;
}



.journey-info{
  font-size: 20px;
  color: black;
  text-align: center;
  padding-bottom: 30px;

}
.story-text{
  padding-top: 7%;
  text-align: left
  font-size: 20px;
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 55px solid black;
  margin-left: 47.5%;
  margin-right: auto;
}


.left{
  border-right: 8px solid black;

}

.right{
  border-left: 8px solid black;
  margin-left: -8px;
}


.items-red{
  font-size: 20px;
  border-radius:1%;
  background-color: #ffbbbd;
  margin:50px;
  padding:3%;


}
.items-blue{
  font-size: 20px;
  border-radius:1%;
  background-color: #bae5ff;
  margin:50px;
  padding:3%;


}

.items-purple{
  font-size: 20px;
  border-radius:1%;
  background-color: #e9cbf4;
  margin:50px;
  padding:3%;


}


.items-yellow{
  font-size: 20px;
  border-radius:1%;
  background-color: #fff2cd;
  margin:50px;
  padding:3%;


}
.items-green{
  font-size: 20px;
  border-radius:1%;
  background-color: #e5f9dc;
  margin:50px;
  padding:3%;


}


.items-title-red{
  margin-top: -10px;
  background-color:#cf0000;
  padding-bottom:1%;
}

.items-title-blue{
  margin-top: -10px;
  background-color:#0069c2;
  padding-bottom:1%;
}

.items-title-purple{
  margin-top: -10px;
  background-color:#7d009f;
  padding-botton: 2%;
}

.items-title-yellow{
  margin-top: -10px;
  background-color:#ffc100;
  padding-bottom: 1%;
}

.items-title-green{
  margin-top: -10px;
  background-color:#7bda4f;
  padding-bottom: 1%;
}


.pointing-right-arrow{
  margin-left: 103.57%;
  display: inline;
}

.pointing-left-arrow{
  margin-left: -10%;
  display: block;
}


.item-picture{
  width: 100%;
  height: auto;
}

.thumbnail{
  width: 83%;
  height: auto;
  text-align: center;
  margin-left: 8%;
}

.logoProjects img{
  width: 73%;
  height: auto;

}

.caption{
  font-size: 18px;
  font-weight:bolder;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 40px;

}


.jumbotron-contactMe{
  background-color: #bae5ff;
  height: 100%;
  margin-top:100px;
  margin-bottom: 0px;
  width:100%;
  padding:0;
}

.thumbnail-yuri{
  font-weight: bolder;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 100%;
  box-shadow: 40px 43px 96px -30px rgba(0, 0, 0, 0.75);

}
