@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    overflow-x: hidden;

}

h3{
  text-align: center;
}

.jumbotron{

  background-attachment: fixed;
  min-height: 128px;
  margin-top:0px;
  margin-bottom:0px;
  width:100%;
  padding:0;
}


.jumbotron2{
  background-image:url('http://i.imgur.com/ecZ9w84.png');
  min-height: 615px;
  margin-top:-30px;
  margin-bottom: 0px;
  width:100%;
  padding:0;
}

.jumbotron3{

  background-attachment: fixed;
  min-height: 200px;
  margin-top:0px;
  margin-bottom: 0px;
  width:100%;
  padding:0;
}

.jumbotron-timeline{
  background-color: #f0eef0;
  min-height: 200px;
  margin-top:0px;
  margin-bottom: 0px;
  width:100%;
  padding:0;
}



.thumbnail-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
  border-radius: 100%;
  box-shadow: 40px 43px 96px -30px rgba(0, 0, 0, 0.75);
}

.thumbnail-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 100%;
}

nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 150px;
    background-color: white;
    transform: translate3d(-150px, 0, 0);
    transition: transform 0.4s ease;
}
.active-nav nav {
    transform: translate3d(0, 0, 0);
}
nav ul {
    list-style: none;
    margin-top: 100px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #136100;
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
}
nav ul li a:hover{

  background: #f30056;
  text-decoration: none;

}

.nav-toggle-btn {
    display: block;
    position: absolute;
    left: 150px;

}

.glyphicon{
  font-size: 2.5em;

}

.glyphicon:hover{
  color: #f30056;
}

.content {
    padding-top: 0px;
    height: auto;
    background-image: url('http://i.imgur.com/q9krggw.jpg');
    text-align: center;
    transition: transform 0.4s ease;
}
.active-nav .content {
    transform: translate3d(150px, 0, 0);
}


.title{
  font-size: 100px;
  color: white;
  text-align: center;

}

.left{
  border-right: 3px solid black;

}

.right{
  border-left: 3px solid black;
  margin-left: -3px;
}

.items-red{
  border-radius:1%;
  background-color: #ffbbbd;
  margin:50px;
  padding:50px;


}
.items-blue{
  border-radius:1%;
  background-color: #bae5ff;
  margin:50px;
  padding:50px;


}

.items-purple{
  border-radius:1%;
  background-color: #e9cbf4;
  margin:50px;
  padding:50px;


}


.items-yellow{
  border-radius:1%;
  background-color: #fff2cd;
  margin:50px;
  padding:50px;


}

.items-green{
  border-radius:1%;
  background-color: #e5f9dc;
  margin:50px;
  padding:50px;


}


.items-title-red{
  margin-top: -10px;
  background-color:#cf0000;
}

.items-title-blue{
  margin-top: -10px;
  background-color:#0069c2;
}

.items-title-purple{
  margin-top: -10px;
  background-color:#7d009f;
}

.items-title-yellow{
  margin-top: -10px;
  background-color:#ffc100;
}

.items-title-green{
  margin-top: -10px;
  background-color:#7bda4f;
}

.pointing-right-arrow{
  position: right;
}

.item-picture{
  width: 100%;
  height: auto;
}
